* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(cool-background.png);
    background-position: center;
    background-size: cover;
    padding-left: 3%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.nav-bar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
    margin-top: 10px;
    cursor: pointer;
}

.nav-bar ul {
    flex: 1;
    padding-left: 400px;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.nav-bar ul a {
    text-decoration: none;
    color: rgb(31, 31, 31);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.nav-bar i {
    font-size: 40px;
    color: rgb(31, 31, 31);
}

.nav-bar i:hover {
    transform: scale(1.1);
    color: rgb(111, 167, 29);
    transition: all .5s
}

.content {
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 120px;
    letter-spacing: .1em;
    font-size: 70px;
    color: rgb(31, 31, 31);
}

.style {
    font-family: cursive;
    padding-left: 20px;
    color: greenyellow;
    font-weight: 800;
    font-size: 80px;
}

.content p {
    width: 50%;
    letter-spacing: .1em;
    font-size: 20px;
    font-weight: 400;
}

.text {
    position: relative;
    display: flex;
    align-items: center;
}

.btn {
    background-color: greenyellow;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 80px;
    border: none;
    cursor: pointer;
    color: rgb(41, 59, 12);
    font-size: 22px;
    font-weight: 600;
    box-shadow: 3px 8px 22px rgba(22, 21, 21, .6);
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.links {
    display: flex;
}

.social-links {
    margin-top: 82px;
    margin-left: 90px;
    font-size: 29px;
    text-decoration: none;
}

.social-links i {
    color: greenyellow;
    padding: 12px 12px 10px 12px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(22, 21, 21, .3);
    height: 27px;
    width: 27px;
    box-shadow: 3px 8px 22px rgba(22, 21, 21, .3);
}

.social-links i:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: greenyellow;
    transition: all .5s;
}

.shoes-image {
    position: absolute;
    width: 45%;
    height: 100%;
    margin-left: 500px;
    margin-bottom: 170px;
    bottom: 0;
    transform: rotate(-40deg);
    top: 20px;
}