    * {
        box-sizing: border-box;
        font-size: 16px;
        background-color: rgb(248, 248, 248);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #134253;
    }
    /* //header */
    
    header {
        width: 100vw;
        height: 100vh;
        position: relative;
        background-image: url(img/cover.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin: 20px;
        background: transparent;
        border-radius: 80px;
    }
    
    .nav {
        display: inline-block;
        float: right;
        list-style: none;
        background: transparent;
    }
    
    .nav ul {
        background: transparent;
        color: #134253;
    }
    
    .nav li {
        display: inline-block;
        margin: 20px 40px 0 0;
        color: #134253;
        background: transparent;
    }
    
    .nav li ul a {
        color: #134253;
        background: transparent;
    }
    
    .nav a:hover {
        background: #134253;
        color: red;
        padding: 5px 5px;
        color: rgb(211, 211, 211);
        border-radius: 3px;
    }
    
    a {
        text-decoration: none;
        color: #134253;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .title-box {
        position: absolute;
        top: 40%;
        left: 35%;
        text-align: center;
        background: transparent;
    }
    
    .title-box h3 {
        font-size: 2.8em;
        margin-bottom: 20px;
        color: #2684a6;
        background: transparent;
    }
    
    .title-box h1 {
        font-size: 4.0em;
        font-style: italic;
        color: #2684a6;
        background: transparent;
    }
    
    .button {
        padding: 10px 40px;
        background-color: #134253;
        color: rgb(211, 211, 211);
        margin-top: 20px;
        border-radius: 40px;
        border: none;
        transition: all 0.7s ease-in-out;
    }
    
    #products>div.row>div>nav>form>input {
        margin: 20px 20px 0 0;
        padding-top: 5px 10px;
        border: 3px solid #134253;
    }
    
    .button:hover {
        background-color: rgb(224, 223, 223);
        color: #2684a6;
        transition: transform 0.5s;
    }
    
    i {
        font-size: 3.0em;
    }
    
    .contact-phones {
        text-align: center;
        padding-bottom: 50px;
    }
    
    .intro {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 60px;
    }
    
    .intro h4 {
        padding: 40px;
    }
    
    .intro p {
        margin: 0 auto;
        width: 40%;
    }
    
    .servicii {
        width: 100%;
        height: auto;
        padding-top: 60px;
        display: flex;
        text-align: right;
        flex-wrap: wrap;
    }
    
    .box {
        flex: 1;
        margin: 10px 20px;
        border-radius: 30px;
        box-shadow: 5px 10px;
        padding: 10px;
    }
    
    .help {
        height: auto;
        width: 100%;
        text-align: center;
        padding-top: 8em;
        overflow: hidden;
    }
    
    .help h3 ::after {
        display: block;
        width: 100px;
        height: 3px;
        content: ' ';
        background-color: blue;
        margin: 30px auto 4% auto;
    }
    
    .help p {
        padding-top: 6em;
        margin: 0 auto;
        width: 50%;
    }
    
    .program {
        width: 100vw;
        height: auto;
        padding-top: 90px;
        text-align: center;
        padding-bottom: 50px;
    }
    
    .program h3 {
        margin: 30px 50px;
    }
    
    .meniu ul {
        list-style: none;
        justify-content: center;
        display: flex;
    }
    
    .meniu ul li {
        display: inline-block;
        text-align: center;
        margin-left: 20px;
        font-size: 1.5em;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .meniu ul li a {
        padding: 10px 20px;
        border: 2px solid green;
        border-radius: 40px;
        border: none;
    }
    
    .carduri-olx {
        width: 100%;
        height: auto;
        display: flex;
        margin: 5% auto;
    }
    
    .cards {
        display: inline-block;
    }
    
    footer {
        width: 100%;
        height: auto;
        margin-top: 10%;
        border-top: 2px solid green;
    }
    
    footer .left {
        width: 50vw;
        float: left;
    }
    
    .left li {
        display: inline-block;
        list-style: none;
        margin-left: 5%;
    }
    
    .right {
        width: 40vw;
        display: inline-block;
        text-align: right;
    }
    
    .right li {
        display: inline-block;
    }
    
    .right li a i {
        display: inline-block;
        font-size: 30px;
        margin: 5% 10%;
    }
    
    .store {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px auto;
        min-width: 300px;
    }
    
    .prezentare {
        text-align: center;
        background-color: rgb(248, 248, 248);
        min-width: 400px;
        margin-right: 20px;
    }
    
    .prezentare h3 {
        padding-bottom: 40px;
    }
    
    .carduri {
        background-color: rgb(248, 248, 248);
        margin: 0 auto;
    }
    
    .maps {
        text-align: center;
    }
    
    #products>div:nth-child(3)>div>h4 {
        margin: 30px auto
    }
    
    #products>div:nth-child(3)>div>h4::before {
        content: '';
        width: 150px;
        height: 100px;
        background-image: url(img/arrow.png);
        margin: 30px auto 0 80px;
        display: block;
        background-position: center;
        background-size: cover;
    }
    
    @media screen and (max-width: 600px) {
        .store {
            display: block;
        }
        body>header>div.nav {
            display: none;
        }
        body>header>div.title-box {
            left: 20%;
        }
        #products>div.store>div.maps {
            margin: 30px auto
        }
    }
    /* //----form */
    
    section {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .form label {
        font-size: 20px;
    }
    
    .form {
        text-align: center;
        display: block;
        margin-bottom: 50px;
    }
    
    .form1 {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .form h2 {
        margin: 50px;
    }
    
    .form1 textarea {
        width: 250px;
        border: 2px solid #2684a6;
        border-radius: 10px;
    }
    
    .form label {
        color: #2684a6;
    }
    
    .form1 input {
        border-radius: 10px;
        border: 2px solid #2684a6
    }
    
    .box {
        min-width: 200px;
    }
    
    figure img {
        width: 100px;
        border-radius: 50%;
        height: 110px;
    }
    
    .box figure {
        text-align: center;
        align-items: center;
    }
    
    .cardurii {
        width: 100%;
        height: auto;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #products>h3 {
        text-align: center;
        margin-top: 90px;
    }
    
    #products>div:nth-child(2)>div>div>ul>li>a {
        -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0, 0, 0, 0.94);
        box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0, 0, 0, 0.94);
    }