                body,
                ul,
                li,
                h1,
                h2,
                a {
                    margin: 0;
                    padding: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .banner {
                    position: relative;
                    margin: 0
                }
                
                .banner img {
                    max-width: 100%;
                }
                
                .banner .welcome {
                    position: absolute;
                    left: 0px;
                    top: 30%;
                    background-color: #feb614;
                    color: white;
                    padding: 30px;
                }
                
                .banner h2 {
                    font-size: 74px;
                    ;
                }
                
                .banner h2 span {
                    font-size: 1.3em;
                }
                
                header {
                    background-color: rgb(236, 96, 41);
                    padding: 10px;
                    text-align: center;
                    position: fixed;
                    width: 100%;
                    z-index: 1;
                    top: 0;
                    left: 0;
                }
                
                header h1 {
                    color: white;
                    border: 9px solid white;
                    padding: 6px 12px;
                    display: inline-block;
                    border-radius: 36px;
                    ;
                }
                
                nav {
                    background-color: rgb(248, 230, 196);
                    padding: 20px;
                    position: sticky;
                    top: 77px;
                }
                
                nav ul {
                    white-space: nowrap;
                    max-width: 1200px;
                    margin: 0 auto;
                }
                
                nav li {
                    width: 25%;
                    display: inline-block;
                    font-size: 24px;
                    ;
                }
                
                nav li a {
                    text-decoration: none;
                    color: rgb(60, 83, 25);
                }
                
                nav li a.join {
                    color: rgb(236, 96, 41);
                    z-index: -1;
                    background-color: transparent;
                }
                
                main {
                    max-width: 100%;
                    width: 1200px;
                    margin: 80px auto;
                    padding: 0 40px;
                    box-sizing: border-box;
                }
                
                article h2 {
                    color: rgb(255, 102, 0);
                    font-size: 40px;
                    ;
                }
                
                article p {
                    line-height: 2em;
                    color: gray;
                }
                
                .images {
                    text-align: center;
                    margin: 80px 0;
                    white-space: nowrap;
                }
                
                .images li {
                    display: inline-block;
                    width: 40%;
                    margin: 20px 5%;
                }
                
                .images li img {
                    max-width: 100%;
                }
                
                section.join {
                    background-color: #f4f4f4;
                    text-align: center;
                    padding: 60px 20px;
                    color: gray;
                }
                
                .join h2 {
                    font-size: 36px;
                }
                
                form input {
                    margin: 20px 0;
                    padding: 10px 20px;
                    font: 24px;
                    border-radius: 25px;
                    border-radius: 4px solid white;
                }
                
                footer {
                    background-color: tomato;
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
                /* pseude clases*/
                
                nav li a:hover {
                    text-decoration: underline;
                }
                
                .images li:hover {
                    position: relative;
                    top: -4px;
                }
                
                form input:focus {
                    border: 4px dashed gray;
                    outline: none;
                }
                
                form input:valid {
                    border: 4px solid greenyellow;
                }
                
                article p::first-line {
                    font-weight: bold;
                    font-size: 1.2em;
                }
                
                section.join p::first-letter {
                    font-size: 1.5em;
                }
                
                section.join p::selection {
                    background-color: orangered;
                    color: white;
                }
                
                p::selection {
                    background-color: orangered;
                    color: white;
                }
                
                p::after {
                    content: '...';
                }
                /*responsive design*/
                
                @media screen and (max-width:1000px) {
                    .banner .welcome h2 {
                        font-size: 40px;
                    }
                    nav li {
                        font-size: 15px;
                        ;
                    }
                }
                
                @media screen and (max-width:750px) {
                    .banner .welcome h2 {
                        font-size: 30px;
                    }
                    nav li {
                        font-size: 15px;
                        ;
                    }
                }
                
                @media screen and (max-width:600px) {
                    .banner .welcome {
                        position: relative;
                        padding: 10px;
                        text-align: center;
                    }
                    .banner .welcome br {
                        display: none;
                    }
                    .banner .welcome h2 {
                        font-size: 20px;
                    }
                    .banner .welcome span {
                        font-size: 1em;
                    }
                    .images li {
                        width: 100%;
                        margin: 20px auto;
                        display: block;
                    }
                }
                
                @media screen and (max-width:450px) {
                    nav li {
                        font-size: 20px;
                        position: relative;
                        display: block;
                        width: 100%;
                        margin: 12px 0;
                    }
                    header {
                        position: relative;
                    }
                    nav {
                        top: 0;
                    }
                }