* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.header {
    width: 1140px;
    margin: 20px auto 10px auto;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-image: url(bg-image.jpg);
    background-size: cover;
}

.container {
    width: 1140px;
    margin: 20px auto 10px auto;
    position: relative;
}

h1,
h2 {
    color: rgb(224, 173, 32)
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.article {
    display: inline-block;
    float: left;
    width: 75%;
    padding-right: 50px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.article-text {
    text-align: justify;
    margin: 20px 0;
}

.article-img {
    height: auto;
    width: 100%;
}

.footer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.footer-heading {
    border-top: 1px solid grey;
}

.other-post {
    width: 25%;
    display: inline-block;
    margin-top: 80px;
}

.other-post img {
    width: 80%;
    height: 300px;
}

.other-title {
    font-size: 15px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

.blog-post {
    margin-bottom: 30px;
}

.footer p {
    width: 60%;
    margin-left: 20px;
    text-align: justify;
    display: inline-block;
}

.social-link {
    width: 20px;
    height: auto;
    margin: 5px;
}

.social-media {
    position: fixed;
    top: 10px;
    right: 2px;
}