html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 300px;
}

h3 {
    margin-bottom: 0;
}

a {
    color: rgb(238, 238, 59)
}

.item-details h3+p {
    font-style: italic;
}

.item-details h3~p {
    margin: 0
}

.divider>section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider>section:last-of-type {
    border-bottom: none;
}

a:hover {
    text-decoration: none;
}

.education {
    background-image: url(../img/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: right top;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}

h1 {
    font-size: 60px;
    font-family: 'Encode Sans SC', sans-serif;
}

h2 {
    margin: 0;
    font-size: 35px;
    font-family: 'Encode Sans SC', sans-serif;
}

.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}


/* ----------PROFILE---------- */

HEADER {
    background: #2f3061;
    color: #f7fff7;
}


/* ------------Projects------------ */

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

.projects {
    background: #f7fff7;
}

.projects .btn {
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(47, 48, 98, 0.7);
}

#caps {
    text-transform: uppercase;
}


/* -----------------Work Experience----------- */

.work-experience {
    background: #a1c6d7;
}

footer {
    background: #343434;
    color: #f7fff7;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}


/* //responsive styles */

@media screen and (min-width:750px) {
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    header,
    footer {
        text-align: center;
    }
    .contact-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:749px) {
    h1 {
        font-size: 55px;
        line-height: .8;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
    body>main>section.education>div:nth-child(1)>section>p:nth-child(3) {
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    body>main>section.education>div:nth-child(2)>section>p:nth-child(3) {
        font-weight: bold;
        color: rgb(255, 255, 255);
        ;
    }
}