                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    section {
                        width: 100%;
                        height: auto;
                    }
                    
                    .row {
                        max-width: 1500px;
                        margin: 0 auto;
                    }
                    
                    body {
                        color: black;
                        font-size: 16px;
                        font-family: serif;
                        font-weight: 300;
                        font-style: italic;
                    }
                    /* //first page */
                    
                    .btn:link,
                    .btn:visited {
                        text-decoration: none;
                        padding: 10px 30px;
                        border-radius: 200px;
                        display: inline-block;
                        background-color: #0096C7;
                        color: wheat;
                        margin-top: 40px;
                    }
                    
                    .logo {
                        height: 120px;
                        width: auto;
                        float: left;
                        border-radius: 20px;
                        margin: 20px
                    }
                    
                    .nav-list {
                        list-style: none;
                        display: inline-block;
                        float: right;
                    }
                    
                    .nav-list li {
                        display: inline-block;
                        margin: 10px;
                        font-size: 130%;
                    }
                    
                    header {
                        height: 100vh;
                        position: relative;
                        background-image: url(first-page.jpeg);
                        background-position: center;
                        background-size: cover;
                    }
                    
                    .title-box {
                        position: absolute;
                        top: 86%;
                        left: 50%;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    
                    .title-box h1 {
                        font-size: 300%;
                        margin-bottom: 30px;
                        color: seashell;
                    }
                    
                    .title-box h3 {
                        font-size: 120%;
                        color: snow;
                    }
                    
                    .we-are {
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        background-color: #e9ecef;
                        padding-top: 60px;
                        background-image: url(we\ are\ back.PNG);
                        height: 70vh;
                        background-size: cover;
                        background-position: center;
                        position: relative;
                    }
                    
                    .we-are h3 {
                        position: absolute;
                        top: 30%;
                        right: 10%;
                        color: white;
                        font-size: 250%;
                        font-weight: 700;
                    }
                    
                    .we-are p {
                        position: absolute;
                        width: 500px;
                        top: 50%;
                        right: 7%;
                        text-align: justify;
                        line-height: 1.7rem;
                        font-size: 130%;
                        color: white;
                    }
                    /* WE DO BOX */
                    
                    .we-do-box {
                        width: 100%;
                        height: auto;
                        margin: 30px auto;
                    }
                    
                    .we-do-heading {
                        font-size: 130%;
                        padding: 30px;
                        font-weight: 500;
                        line-height: 1.6rem;
                    }
                    
                    .we-do-para {
                        font-size: 130%;
                        padding: 30px;
                        font-weight: 500;
                        line-height: 1.6rem;
                    }
                    
                    .img-right {
                        display: block;
                        width: 100%;
                    }
                    
                    .we-do-img {
                        width: 50%;
                        border-radius: 50px;
                        margin: 20px 0 0 140px;
                    }
                    
                    .sales-evo {
                        width: 100%;
                        height: auto;
                        position: relative;
                        text-align: center;
                    }
                    
                    .sales-evo h3:after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        background-color: blue;
                        content: ' ';
                        margin: 30px auto;
                    }
                    
                    .sales-evo h3 {
                        font-size: 300%;
                        text-align: center;
                        margin-top: 40px;
                        font-weight: 700;
                        background-position: center;
                        background-size: cover;
                        color: rgb(0, 61, 53);
                    }
                    
                    .sales-evo img {
                        width: 80%;
                        height: auto;
                        margin: auto;
                        margin-top: 40px;
                        margin-left: 8%;
                        border-radius: 30px;
                    }
                    
                    .sales-evo p {
                        text-align: justify;
                        margin: 30px auto;
                        width: 80%;
                        font-weight: 400;
                        font-size: 120%;
                    }
                    
                    .sales-evo2 {
                        width: 90%;
                        height: auto;
                        margin: 4% auto
                    }
                    
                    .graf2 {
                        width: 60%;
                        margin-top: 2% !important;
                    }
                    
                    .carduri {
                        display: flex;
                        width: 100%;
                    }
                    
                    .carduri3 {
                        width: 100%;
                    }
                    
                    .carduri3:hover {
                        transform: scale(1.1);
                        transition: transform .5s;
                        z-index: 1;
                    }
                    
                    .slide {
                        text-align: center;
                    }
                    
                    .slide h3 {
                        font-size: 300%;
                        text-align: center;
                        margin-top: 40px;
                        font-weight: 700;
                        background-position: center;
                        background-size: cover;
                        color: rgb(0, 61, 53);
                    }
                    
                    .slide h3:after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        content: ' ';
                        background-color: blue;
                        margin: 30px auto 4% auto;
                    }
                    
                    .sales-evo-para {
                        font-size: 120%;
                        text-align: left;
                    }
                    
                    .top-prod h3 {
                        text-align: center;
                        font-size: 130%;
                    }
                    
                    .top-prod {
                        width: 100%;
                        height: auto;
                        margin-top: 50px;
                    }
                    
                    .stock {
                        text-align: center;
                    }
                    
                    .card-titl {
                        font-size: 300%;
                        text-align: center;
                        margin-top: 40px;
                        font-weight: 700;
                        background-position: center;
                        background-size: cover;
                        color: rgb(0, 61, 53);
                    }
                    
                    .primu-card {
                        line-height: 1.6rem;
                    }
                    
                    .card-titl:after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        background-color: blue;
                        content: ' ';
                        margin: 30px auto;
                    }
                    
                    .order {
                        width: 100%;
                        height: auto;
                        margin: 20px auto;
                        background-color: white;
                        border-radius: 20px;
                        text-align: center;
                    }
                    
                    .order h3 {
                        font-size: 300%;
                        text-align: center;
                        margin-top: 40px;
                        font-weight: 700;
                        background-position: center;
                        background-size: cover;
                        color: rgb(0, 61, 53);
                    }
                    
                    .order h3:after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        content: ' ';
                        background-color: blue;
                        margin: 30px auto 5% auto;
                    }
                    
                    .order-right img {
                        width: 100%;
                        padding-top: 30px;
                    }
                    
                    .order-right:hover {
                        transform: scale(1.1);
                        transition: transform .3s
                    }
                    
                    .order-left {
                        padding-top: 20px;
                        font-size: 130%;
                        line-height: initial;
                        text-align: justify;
                        justify-content: center;
                    }
                    
                    .service-area {
                        display: flex;
                        background-color: rgb(248, 248, 248);
                        padding: 30px 0;
                    }
                    
                    .services-heading {
                        width: auto;
                        text-align: center;
                        margin: 5% 0;
                    }
                    
                    .services-heading h3 {
                        font-size: 300%;
                        text-align: center;
                        margin-top: 40px;
                        font-weight: 700;
                        background-position: center;
                        background-size: cover;
                        color: rgb(0, 61, 53);
                    }
                    
                    .services-heading:after {
                        height: 3px;
                        display: block;
                        width: 100px;
                        background-color: blue;
                        content: ' ';
                        margin: 25px auto 0 auto;
                    }
                    
                    .service-box {
                        min-width: 20%;
                        height: auto;
                        text-align: center;
                    }
                    
                    .service-box h3 {
                        font-size: 170%;
                        margin: 6% auto;
                    }
                    
                    .service-box i {
                        font-size: 200%;
                        color: blue;
                    }
                    
                    .services-box a {
                        color: blue;
                    }
                    
                    .service-box p {
                        margin: 30px 0;
                        font-size: 120%;
                    }
                    
                    .firme-img {
                        margin-top: 5%;
                        border-radius: 40px;
                        width: 100%;
                        height: 100%;
                    }
                    /* marker-we-cover */
                    
                    .market-cover {
                        height: 60vh;
                        background-image: url(merketswecover.jpeg);
                        background-position: center;
                        background-size: cover;
                        position: relative;
                    }
                    
                    .market-cover h4 {
                        position: absolute;
                        top: 20%;
                        left: 20%;
                        font-size: 280%;
                        font-weight: 700;
                        color: rgb(31, 31, 87);
                    }
                    
                    .market-cover h4::after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        content: ' ';
                        background-color: blue;
                        margin: 40px auto;
                    }
                    
                    .cover-para {
                        position: absolute;
                        width: auto;
                        height: auto;
                        left: 20%;
                        top: 60%;
                        line-height: 1.6rem;
                        text-align: justify;
                        font-weight: 700;
                        font-size: 130%;
                        color: rgb(31, 31, 87);
                    }
                    
                    .firme {
                        margin: 3% auto;
                    }
                    
                    .firme-poza {
                        text-align: center;
                        width: auto;
                        height: auto;
                    }
                    /* //packages section */
                    
                    .packs {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        margin: 12% auto 3% auto;
                    }
                    
                    .packs h4 {
                        font-size: 300%;
                        text-align: center;
                        margin-top: 40px;
                        font-weight: 700;
                        background-position: center;
                        background-size: cover;
                        color: rgb(0, 61, 53);
                    }
                    
                    .packs h4:after {
                        display: block;
                        width: 100px;
                        height: 4px;
                        background-color: blue;
                        content: ' ';
                        margin: 30px auto;
                    }
                    
                    .packs-section {
                        text-align: center;
                        margin-top: 10%;
                    }
                    
                    .cards {
                        display: flex;
                        width: 100%;
                        margin: 30px auto;
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    
                    .card-head p {
                        font-size: 130%;
                    }
                    
                    .card-head span {
                        font-size: 16px;
                        margin: 1%
                    }
                    
                    .one-card {
                        margin: 4% auto 4% auto;
                        text-align: left;
                        border-radius: 40px;
                        justify-content: center;
                        min-width: 100px;
                        flex-wrap: wrap;
                    }
                    
                    .one-card:hover {
                        border-radius: 40px;
                        border: 1px solid blue;
                    }
                    
                    .card-head h3 {
                        margin: 6% auto;
                        text-align: center;
                        font-size: 160%;
                        color: blue;
                    }
                    
                    .card-head {
                        text-align: center;
                    }
                    
                    .card-section {
                        padding: 6%;
                        line-height: 1.9rem;
                    }
                    
                    .card-section ul li {
                        list-style: none;
                    }
                    
                    .card-section i {
                        font-size: 100%;
                        color: blue;
                    }
                    
                    .card-footer {
                        text-align: center;
                        border-radius: 20px;
                    }
                    
                    .card-footer a {
                        padding: 5px 20px;
                        background-color: rgb(224, 224, 224);
                        border-radius: 20px;
                        color: blue;
                    }
                    
                    .card-footer a:hover {
                        border: 1px solid blue
                    }
                    /* //testimonial section */
                    
                    .testimonial-section {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        padding-bottom: 3%;
                        background-image: url(testimbackkkkkk.jpeg);
                        background-position: center;
                        background-size: cover;
                    }
                    
                    .testimonial-heading h3 {
                        text-align: center;
                        margin: 40px auto;
                        font-size: 280%;
                        display: block;
                        font-weight: 500;
                        padding-top: 50px;
                        color: white;
                    }
                    
                    .testimonial-heading {
                        text-align: center;
                    }
                    
                    .testimonial-heading h3:after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        background-color: blue;
                        content: ' ';
                        text-align: center;
                        margin: 30px auto;
                    }
                    
                    .testimonial-box {
                        width: 60%;
                        height: auto;
                        padding: 1%;
                        text-align: left;
                        background-color: rgb(236, 236, 236, 0.7);
                        ;
                        border-radius: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        min-width: 200px;
                    }
                    
                    .testimonial-box p {
                        padding-bottom: 3%;
                        font-style: italic;
                        color: black;
                        line-height: 1.5rem;
                        font-weight: 500;
                        font-size: 140%;
                    }
                    
                    .testimonial-box img {
                        border-radius: 50%;
                        vertical-align: middle;
                        padding: 2%;
                        color: black;
                    }
                    
                    cite {
                        color: black;
                        min-width: 50%
                    }
                    /* //Form */
                    
                    .contact-section {
                        text-align: center;
                        margin-top: 5%;
                    }
                    
                    .contact-heading {
                        color: black;
                        margin: 10% auto 5% auto;
                        font-size: 250%;
                    }
                    
                    .contact-heading:after {
                        display: block;
                        width: 100px;
                        height: 3px;
                        content: ' ';
                        margin: 30px auto;
                        background-color: blue;
                    }
                    
                    .contact-form {
                        text-align: left;
                        width: 60%;
                        margin: 0 auto;
                    }
                    
                    label {
                        text-align: left;
                        color: #555;
                    }
                    
                    input[type=submit] {
                        border-radius: 10px;
                        padding: 7px;
                        background-color: blue;
                        color: white;
                    }
                    
                    input[type=text],
                    textarea,
                    input[type=email] {
                        width: 100%;
                        padding: 8px;
                        border-radius: 3px;
                        border: 1px solid #ccc;
                        background-color: white;
                    }
                    
                    textarea {
                        height: 100px;
                    }
                    
                    input[type=checkbox] {
                        margin: 0 5px;
                    }
                    
                    *:focus {
                        outline: none;
                    }
                    /* //footer */
                    
                    footer {
                        padding: 50px;
                        font-size: 80%;
                        color: #555;
                        background-color: rgb(196, 192, 192);
                        margin-top: 3%;
                        font-size: 100%;
                    }
                    
                    .footer-nav {
                        float: left;
                    }
                    
                    .footer-nav li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 20px;
                    }
                    
                    .footer-nav li a:link,
                    .footer-nav li a:visited {
                        text-decoration: none;
                    }
                    
                    .social-link li {
                        list-style: none;
                        display: inline-block;
                        margin-left: 20px;
                    }
                    
                    .social-link li a:link,
                    .social-link li a:visited {
                        text-decoration: none;
                        font-size: 160%;
                    }
                    
                    .social-link {
                        float: right;
                    }
                    
                    .footer-nav li a:hover,
                    .footer-nav li a:active {
                        color: #ed07b7;
                        -webkit-transition: color 0.2s;
                        transition: color 0.2s;
                    }
                    
                    .stiky-nav {
                        position: fixed;
                        left: 0;
                        top: 0;
                        background-color: rgb(255, 255, 255, 0.8);
                        width: 100%;
                        box-shadow: 0 2px 2px #efefef;
                        z-index: 900;
                    }
                    
                    .stiky-nav .logo {
                        height: 60px;
                        margin-top: 3px;
                    }
                    
                    .stiky-nav .nav-list {
                        margin-top: 18px;
                    }
                    
                    .stiky-nav .nav-list li a:link,
                    .nav-list li a:visited {
                        color: #555;
                        padding: 5px 0;
                    }
                    /* jquery a imated on scroll */
                    
                    .js--we-do {
                        opacity: 0;
                        animation-duration: 1s;
                    }
                    
                    .js--we-do .animate__animated {
                        opacity: 1;
                    }
                    
                    .js--service-box {
                        animation-duration: 1.4s;
                    }
                    
                    @media only screen and (max-width: 860px) {
                        .carduri-bst {
                            display: none;
                        }
                        .we-do-box {
                            display: block;
                        }
                    }