body {
    background-color: #46d8c3;
    margin: 0;
}

section {
    margin-left: 40%;
    justify-content: space-between;
    width: 900px;
    height: 100px;
    display: flex;
    align-content: space-between;
}

H2 {
    text-align: center;
    margin: 70px;
    color: blanchedalmond;
}

.first-face {
    display: flex;
    background-color: cornsilk;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid black;
}

.pip {
    color: black;
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.second-face {
    display: flex;
    background-color: cornsilk;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid black;
}

.second-face .pip:nth-of-type(2) {
    align-self: flex-end;
}

.fourth-face {
    display: flex;
    background-color: cornsilk;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px solid black
}

.fourth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tree-face {
    display: flex;
    background-color: cornsilk;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px solid black
}

.tree-face .pip:nth-of-type(3) {
    align-self: flex-end;
}

.tree-face .pip:nth-of-type(2) {
    align-self: center;
    justify-self: center;
}

.five-face {
    display: flex;
    background-color: cornsilk;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px solid black
}

.five-face .column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five-face .column:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five-face .pip5 {
    align-self: center;
    justify-self: center;
    color: black;
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.six-face {
    display: flex;
    background-color: cornsilk;
    width: 500px;
    height: 50px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px solid black
}

.six-face .column:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.six-face .column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    background: #000;
}

svg {
    height: 140%;
    display: block;
    position: absolute;
    left: 0;
    top: -100px;
}

.title-block {
    position: absolute;
    left: 50%;
    top: 45%;
}

#top .st48,
#top .st52,
#top .st50 {
    animation: drift-right-up 80s alternate;
}

#top .st33,
#top .st51 {
    animation: drift-right-up 75s alternate;
}

#top .st49,
#top .st42 {
    animation: drift-right-up 65s alternate;
}

#bottom .st11,
#bottom .st56 {
    animation: drift-down 70s alternate;
}

#bottom .st53,
#bottom .st54 {
    animation: drift-right 195s alternate;
}

#bottom .st55,
#bottom .st36,
#bottom .st33 {
    animation: drift-down 115s alternate;
}

#bottom .st51 {
    animation: drift-down-right 105s alternate;
}

#nearright .st40,
#nearright .st43,
#nearright .st33 {
    animation: drift-right 115s;
}

#nearright .st41,
#nearright .st44 {
    animation: drift-right-up 105s;
}

#nearright .st42,
#nearright .st45,
#nearright .st46,
#nearright .st55,
#nearright .st47 {
    animation: drift-right 135s;
}

#farright .st54,
#farright .st58,
#farright .st59 {
    animation: drift-right 55s;
}

#farright .st57,
#farright .st51 {
    animation: drift-right-up 40s;
}

@keyframes drift-right {
    100% {
        transform: translate(2000px, -20px);
    }
}

@keyframes drift-right-up {
    100% {
        transform: translate(2000px, -250px);
    }
}

@keyframes drift-up {
    100% {
        transform: translate(10px, -1450px);
    }
}

@keyframes drift-up-right {
    100% {
        transform: translate(175px, -1550px);
    }
}

@keyframes drift-down {
    100% {
        transform: translate(2000px, 1220px);
    }
}

@keyframes drift-down-right {
    100% {
        transform: translate(1450px, 320px);
    }
}